# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

CMakeLists.txt
cmake-build-debug

ConsoleApplication1.sln
ConsoleApplication1.vcxproj
ConsoleApplication1.vcxproj.user
ConsoleApplication1.vcxproj.filters
.idea

